<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        	购物网站
        {% endblock %}
    </title>
</head>
<body>

<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">桃饱</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('home_page') }}">首页</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('video_list') }}">短视频</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{{ url_for('login_page') }}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            我的
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{ url_for('shopping_page') }}">购物车</a></li>
            <li><a class="dropdown-item" href="{{ url_for('message_page') }}">消息</a></li>

            <li><a class="dropdown-item" href="{{ url_for('address_page') }}">收货地址</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="{{ url_for('kefu_page') }}" tabindex="-1" aria-disabled="true">客服</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<style>

</style>
{% block content %}

{% endblock %}
</body>
</html>